@import "tailwindcss";

@property --dark-bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #21211f;
}

@property --h1-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #fff;
}

@layer base {
  h1 {
    font-size: 2rem;
    font-weight: 700;
    color: var(--h1-color);
  }
}

body {
  background-color: #0f172a;
  background-image: radial-gradient(
      at 10% 20%,
      rgba(30, 41, 59, 0.5) 0px,
      transparent 50%
    ),
    radial-gradient(at 90% 80%, rgba(30, 41, 59, 0.5) 0px, transparent 50%);
  color: #fff;
}
